#login__modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1.00);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

#login__inner {
    background: #4150D2;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 700px;
}


#login__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}



#login__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
}



#login__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin-top: 12px;
    text-align: center;
    color: #E9ECEF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



#login__form {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.50);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 400px;
}



#login__login {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #212529;
    text-align: center;
}



#login__user {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #343A40;
    margin-right: 240px;
}



#login__emailInput {
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    background: #F1F3F5;
    margin-right: 50px;
    margin-top: -30px;
    font-size: 17px;
    height: 60px;
    width: 60%;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    margin-top: 1px;
}



#login__password {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #343A40;
    margin-right: 250px;
}



#login__passwordInput {
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    background: #F1F3F5;
    margin-right: 50px;
    margin-top: -30px;
    font-size: 17px;
    height: 60px;
    width: 60%;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    margin-top: 1px;
}



#login__submitButton {
    background: #415AF3;
    border: 2px solid #415AF3;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 20px;
}



#login__submitButton:hover {
    background: #A0ADF9;
}

#create__modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}



#create__inner {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 35%;
    min-width: 300px;
    height: 466px;
    display: none;
}


/* Preciso concertar o Botão X */
#create__close {
    background: none;
    border: none;
    color: #ADB5BD;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-right: 50px;
    margin-top: 0px;
}


#create__title {
    width: 114px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #212529;
    margin-top: -20px;
    margin-left: 14px;
    margin-bottom: 37px;
}


#create__habitTitle {
    width: 38px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
    margin-left: 14px;
    margin-bottom: 8px;
}


#create__habitInput {
    gap: 10px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    width: 90%;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 14px;
}



#create__habitInput::placeholder {
    color: #343A40;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}



#create__description {
    width: 66px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
    margin-left: 14px;
    margin-top: 24px;
    margin-bottom: 8px;
}



#create__descriptionInput {
    font-family: 'Inter';
    color: #343A40;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    gap: 10px;
    width: 90%;
    height: 80px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    margin-left: 14px;
}



#create__descriptionInput::placeholder {
    color: #343A40;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}



#create__category {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
    width: 65px;
    height: 17px;
    margin-left: 14px;
    margin-top: 26px;
    margin-bottom: 8px;
}



#create__select {
    width: 90%;
    height: 40px;
    background: #F1F3F5;
    gap: 10px;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #343A40;
    margin-left: 14px;
    margin-bottom: 24px;
}



#create__submitButton {
    background: #415AF3;
    border: 2px solid #415AF3;
    border-radius: 4px;
    gap: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    width: 90%;
    height: 40px;
    margin-left: 14px;
    margin-bottom: 24px;
}

#edit__modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}



#edit__inner {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 35%;
    min-width: 300px;
    height: 466px;
}


/* Concertar o Botão CLose */
#edit__close {
    background: none;
    border: none;
    color: #ADB5BD;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-left: 260px;
    margin-top: 25px;
}



#edit__title {
    width: 150px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #212529;
    margin-top: -20px;
    margin-left: 14px;
    margin-bottom: 20px;
}



#edit__habitTitle {
    width: 38px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
    margin-left: 14px;
    margin-bottom: 8px;
}



#edit__habitInput {
    gap: 10px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    width: 92%;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 14px;
}



#edit__habitInput::placeholder {
    color: #343A40;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}



#edit__description {
    width: 66px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
    margin-left: 14px;
    margin-top: 20px;
    margin-bottom: 8px;
}



#edit__descriptionInput {
    font-family: 'Inter';
    color: #343A40;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    gap: 10px;
    width: 92%;
    height: 80px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    margin-left: 14px;
}



#edit__descriptionInput::placeholder {
    color: #343A40;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}



#edit__category {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
    width: 65px;
    height: 17px;
    margin-left: 14px;
    margin-top: 20px;
    margin-bottom: 8px;
}



#edit__select {
    width: 92%;
    height: 40px;
    background: #F1F3F5;
    gap: 10px;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #343A40;
    margin-left: 14px;
    margin-bottom: 2px;
}



#edit__check {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
    margin-bottom: 20px;
    margin-top: 10px
}



#edit__status {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
}

input[type=checkbox] {
    background-color: #33ef1e;
    all: unset;
    border: 1.4px solid #ADB5BD;
    border-radius: 2px;
    border-radius: 2px;
    width: 10px;
    height: 10px;
    display: inline-block;
}

input[type=checkbox]:hover {
    cursor: pointer;
}


input:checked {
    background-color: #56CF8E;
    width: 10px;
    height: 10px;
    border: 2px solid #56CF8E;
    background-image: url(/src/assets/img/check.png);
}


input:checked:hover {
    cursor: pointer;
}



#edit__delete {
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #343A40;
    margin-left: 20px;
}



#edit__delete:hover {
    cursor: pointer;
}


/* Concertar Botão de deletar */
#edit__submitButton {
    background: #A0ADF9;
    border: 2px solid #A0ADF9;
    border-radius: 4px;
    gap: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    width: 120px;
    height: 40px;
    margin-left: 14px;
    margin-bottom: 24px;
}



#edit__submitButton:hover {
    cursor: pointer;
    background-color: #415AF3;
    border: 2px solid #415AF3;
}

#header {
    background-color: #415AF3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#header__menu {
    background: #FAFAFA;
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header__title {
    width: 131px;
    height: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #415AF3;
    margin-right: 40px;
}

#header__logout {
    background-color: rgb(236, 103, 103);
    color: white;
    border: none;
    border-radius: 2px;
    margin-right: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
}

#header__logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#user {
    background-color: #415AF3;
    width: 321px;
    height: 125px;
    display: flex;
    align-items: center;
}

#user__logo {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 100px;
    margin-right: 18px;
    margin-left: 21px;
    margin-bottom: 30px;
}

#user__name {
    width: 190px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

#habits__main {
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#habits__title {
    width: 73px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    margin-left: 13px;
    margin-bottom: 34px;
}

#habits__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#habits__all {
    width: 48px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #343A40;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    margin-left: 15px;
    margin-right: 34px;
}

#habits__all:hover {
    cursor: pointer;
}

#habits__concluded {
    width: 86px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #343A40;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    margin-right: 50px;

}

#habits__concluded:hover {
    cursor: pointer;
}

#habits__create {
    width: 90px;
    height: 32px;
    background: #415AF3;
    border: 2px solid #415AF3;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 16px;
}

#habits__create:hover {
    cursor: pointer;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

#footer__button {
    width: 152px;
    height: 32px;
    background: #415AF3;
    border: 2px solid #415AF3;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}


#profileEdit__modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

#profileEdit__inner {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 305px;
    height: 466px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#profileEdit__close {
    background: none;
    border: none;
    color: #ADB5BD;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-left: 260px;
    margin-top: 25px;
}

#profileEdit__title {
    width: 150px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #212529;
    margin-left: 14px;
    margin-bottom: 40px;
}

#profileEdit__user {
    width: 38px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
    margin-left: 14px;
    margin-bottom: 8px;
    margin-bottom: 20px;
}

#profileEdit__userInput {
    gap: 10px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    width: 277px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 14px;
    margin-bottom: 30px;
}

#profileEdit__userInput::placeholder {
    color: #343A40;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

#profileEdit__urlImage {
    width: 163px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
    margin-left: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#profileEdit__imageInput {
    font-family: 'Inter';
    color: #343A40;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    gap: 10px;
    width: 277px;
    height: 40px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    margin-left: 14px;
    margin-bottom: 20px;
}

#profileEdit__imageInput::placeholder {
    color: #343A40;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

#profileEdit__submitButton {
    background: #A0ADF9;
    border: 2px solid #A0ADF9;
    border-radius: 4px;
    gap: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    width: 170px;
    height: 50px;
    margin-left: 60px;
    margin-bottom: 24px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#profileEdit__submitButton:hover {
    cursor: pointer;
    background-color: #415AF3;
    border: 2px solid #415AF3;
}



#removeHabit__modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

#removeHabit__inner {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 305px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#removeHabit__close {
    background: none;
    border: none;
    color: #ADB5BD;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-left: 260px;
    margin-top: 50px;
}

#removeHabit__close:hover {
    cursor: pointer;
}

#removeHabit__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#removeHabit__title {
    width: 132px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #212529;
    margin-bottom: 50px;
    margin-left: 32px;
}

#removeHabit__text {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    margin-bottom: 30px;
    margin-left: 32px;
    margin-right: 36px;
}

#removeHabit__paragraph {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #343A40;
    margin-bottom: -10px;
}

#removeHabit__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#removeHabit__cancelButton {
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    width: 150px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #343A40;
}

#removeHabit__submitButton {
    background: #E64445;
    border: 2px solid #E64445;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    margin-bottom: 24px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#removeHabit__submitButton:hover {
    cursor: pointer;
}

#removeHabit__cancelButton {
    cursor: pointer;
}

#modal__loginerror {
    display: none;
    background-color: #E64445;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 10%;
    right: 47%;
    z-index: 51;
    cursor: pointer;
}

#modal__loginerror:hover {
    background-color: #e02b2b;
}

#modal__loginbutton {
    background-color: #E64445;
    margin-left: 10px;
    color: #212529;
    font-weight: bold;
    border: none;
}

#modal__loginerror:hover #modal__loginbutton {
    background-color: #e02b2b;
    color: white;
}


#table__habits {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 500px;
}


#table__section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 34px;
    width: 100%;
    margin-bottom: -20px;
}

#table__status {
    width: 50px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #A1A1A1;
    margin-right: 27px;
    margin-left: 5px;
}

#table__title {
    width: 44px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #A1A1A1;
    margin-right: 120px;
}

#table__description {
    display: none;
}

#table__category {
    display: none;
}

#table__edit {
    width: 45px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #A1A1A1;
    margin-right: 22.5px;
}


#table__content {
    width: 321px;
    height: 49px;
    border: 1.4px solid #E9ECEF;
    display: flex;
    align-items: center;
    justify-content: center;
}


#table__check {
    margin-right: 20px;
}

#table__nameHabit {
    width: 140px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #343A40;
    margin-left: 31px;
    overflow: hidden;
    margin-right: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#table__descriptionHabit {
    display: none;
}

#table__categoryHabit {
    display: none;
}

#table__editButton {
    border: none;
    background: none;
}

#table__editButton:hover {
    cursor: pointer;
}

@media(min-width: 850px) {

    #login__inner {
        display: flex;
        width: 70vw;
        height: 400px;
        flex-direction: row;
        border-radius: 15px;
    }



    #login__Call {
        width: 50%;
        display: flex;
        min-height: 300px;
        min-width: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }



    #login__title {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 30px;
    }



    #login__subtitle,
    #login__paragraph {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }



    #login__inner form {
        padding: 20px;
        width: 50%;
        min-width: 300px;
        border-radius: 0px 15px 15px 0px;
    }



    #login__login {
        margin-bottom: 50px;
    }



    #login__inner p {
        width: 80%;
        margin: 0 auto;
    }



    #login__inner input {
        width: 95%;
        margin: 0 auto;
        height: 40px;
        margin-bottom: 20px;
    }

    #header__logo {
        width: 100vw;
        height: 1vh;
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
        align-items: center;
    }



    #header__logo h2 {
        color: #415AF3;
        font-size: 22px;
        font-weight: 700;
        line-height: 26.63px;
        font-family: 'Inter';
        font-size: normal;
    }



    #header__user {
        width: 100vw;
        height: 15vh;
        background-color: #415AF3;
        display: flex;
        padding: 20px 300px;

    }

    #header__user img {
        margin: 0px;
    }

    #header__user h2 {
        margin: 10px;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: white;
    }



    #header__main {
        background-color: red;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        display: flex;
        width: 100vw;
        height: 5vh;
    }



    #table__container {
        width: 100vw;
        height: 40vh;
        display: flex;
        justify-content: center;
        padding: 10px;
    }



    #table__container table {
        padding: 10px;
        width: 60%;
        margin: 10px;
        border: 1px solid rgba(161, 161, 161, 1);
    }



    #table__container table th {
        height: 10px;
        color: rgba(161, 161, 161, 1);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        text-align: justify;
        padding: 5px;
        border-bottom: 1px solid rgba(161, 161, 161, 1);
    }

    #table__container table td {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        border-bottom: 1px solid rgba(161, 161, 161, 1);
        padding: 5px;
    }
    

    #modal__loginerror {
        display: none;
        background-color: #E64445;
        border-radius: 12px;
        text-align: center;
        padding: 10px;
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 10%;
        right: 47%;
        z-index: 1;
        cursor: pointer;
    }

    #modal__loginerror:hover {
        background-color: #e02b2b;
    }

    #modal__loginbutton {
        background-color: #E64445;
        margin-left: 10px;
        color: #212529;
        font-weight: bold;
        border: none;
    }

    #modal__loginerror:hover #modal__loginbutton {
        background-color: #e02b2b;
        color: white;
    }

}