#login__modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}



#login__container {}



#login__inner {
    background: #4150D2;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 700px;
}



#login__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}



#login__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



#login__paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #E9ECEF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



#login__form {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 400px;
}



#login__login {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #212529;
    text-align: center;
}



#login__user {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #343A40;
    margin-right: 240px;
}



#login__emailInput {
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    background: #F1F3F5;
    margin-right: 50px;
    margin-top: -30px;
    font-size: 17px;
    height: 60px;
    width: 60%;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    margin-top: 1px;
}



#login__password {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #343A40;
    margin-right: 250px;
}



#login__passwordInput {
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    background: #F1F3F5;
    margin-right: 50px;
    margin-top: -30px;
    font-size: 17px;
    height: 60px;
    width: 60%;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    margin-top: 1px;
}



#login__submitButton {
    background: #415AF3;
    border: 2px solid #415AF3;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 20px;
}



#login__submitButton:hover {
    background: #A0ADF9;
}



#create__modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}



#create__inner {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 35%;
    min-width: 300px;
    height: 466px;
    display: none;

}


/* Preciso concertar o Botão X */
#create__close {
    background: none;
    border: none;
    color: #ADB5BD;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-right: 50px;
    margin-top: 0px;
}



#create__title {
    width: 114px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #212529;
    margin-top: -20px;
    margin-left: 14px;
    margin-bottom: 37px;
}



#create__habitTitle {
    width: 38px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
    margin-left: 14px;
    margin-bottom: 8px;
}



#create__habitInput {
    gap: 10px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    width: 90%;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 14px;
}



#create__habitInput::placeholder {
    color: #343A40;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}



#create__description {
    width: 66px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
    margin-left: 14px;
    margin-top: 24px;
    margin-bottom: 8px;
}



#create__descriptionInput {
    font-family: 'Inter';
    color: #343A40;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    gap: 10px;
    width: 90%;
    height: 80px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    margin-left: 14px;
}



#create__descriptionInput::placeholder {
    color: #343A40;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}



#create__category {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
    width: 65px;
    height: 17px;
    margin-left: 14px;
    margin-top: 26px;
    margin-bottom: 8px;
}



#create__select {
    width: 90%;
    height: 40px;
    background: #F1F3F5;
    gap: 10px;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #343A40;
    margin-left: 14px;
    margin-bottom: 24px;
}



#create__submitButton {
    background: #415AF3;
    border: 2px solid #415AF3;
    border-radius: 4px;
    gap: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    width: 90%;
    height: 40px;
    margin-left: 14px;
    margin-bottom: 24px;
}

#edit__modal {
    /* background-color:#FFFFFF ; */
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}



#edit__inner {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 35%;
    min-width: 300px;
    height: 466px;
}


/* Concertar o Botão CLose */
#edit__close {
    background: none;
    border: none;
    color: #ADB5BD;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-left: 260px;
    margin-top: 25px;
}



#edit__title {
    width: 150px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #212529;
    margin-top: -20px;
    margin-left: 14px;
    margin-bottom: 20px;
}



#edit__habitTitle {
    width: 38px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
    margin-left: 14px;
    margin-bottom: 8px;
}



#edit__habitInput {
    gap: 10px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    width: 92%;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-left: 14px;
}



#edit__habitInput::placeholder {
    color: #343A40;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}



#edit__description {
    width: 66px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
    margin-left: 14px;
    margin-top: 20px;
    margin-bottom: 8px;
}



#edit__descriptionInput {
    font-family: 'Inter';
    color: #343A40;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    gap: 10px;
    width: 92%;
    height: 80px;
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    margin-left: 14px;
}



#edit__descriptionInput::placeholder {
    color: #343A40;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}



#edit__category {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
    width: 65px;
    height: 17px;
    margin-left: 14px;
    margin-top: 20px;
    margin-bottom: 8px;
}



#edit__select {
    width: 92%;
    height: 40px;
    background: #F1F3F5;
    gap: 10px;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #343A40;
    margin-left: 14px;
    margin-bottom: 2px;
}



#edit__check {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
    margin-bottom: 20px;
    margin-top: 10px
}



#edit__status {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #343A40;
}



#edit__checkbox:checked {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: #33ef1e;
}



input[type=checkbox] {
    background-color: #33ef1e;
    all: unset;
    border: 1px solid black;
    border: 1.4px solid #ADB5BD;
    border-radius: 2px;
    width: 10px;
    height: 10px;
    display: inline-block;
}



input:checked {
    background-color: #56CF8E;
    border: none;
    width: 10px;
    height: 10px;
    background-image: url(/src/assets/img/check.png);
}



#edit__delete {
    background: #F1F3F5;
    border: 2px solid #F1F3F5;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #343A40;
    margin-left: 20px;
}



#edit__delete:hover {
    cursor: pointer;
}


/* Concertar Botão de deletar */
#edit__submitButton {
    background: #A0ADF9;
    border: 2px solid #A0ADF9;
    border-radius: 4px;
    gap: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    width: 120px;
    height: 40px;
    margin-left: 14px;
    margin-bottom: 24px;
}



#edit__submitButton:hover {
    cursor: pointer;
    background-color: #415AF3;
    border: 2px solid #415AF3;
}

@media(min-width: 850px) {

    #login__inner {
        display: flex;
        width: 70vw;
        height: 400px;
        flex-direction: row;
        border-radius: 15px;
    }



    #login__Call {
        width: 50%;
        display: flex;
        min-height: 300px;
        min-width: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }



    #login__title {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 30px;
    }



    #login__subtitle,
    #login__paragraph {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }



    #login__inner form {
        padding: 20px;
        width: 50%;
        min-width: 300px;
        border-radius: 0px 15px 15px 0px;
    }



    #login__login {
        margin-bottom: 50px;
    }



    #login__inner p {
        width: 80%;
        margin: 0 auto;
    }



    #login__inner input {
        width: 95%;
        margin: 0 auto;
        height: 40px;
        margin-bottom: 20px;
    }

    #header__logo {
        width: 100vw;
        height: 1vh;
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
        align-items: center;
    }



    #header__logo h2 {
        color: #415AF3;
        font-size: 22px;
        font-weight: 700;
        line-height: 26.63px;
        font-family: 'Inter';
        font-size: normal;
    }



    #header__user {
        width: 100vw;
        height: 15vh;
        background-color: #415AF3;
        display: flex;
        padding: 20px 300px;

    }

    #header__user img {
        margin: 0px;
    }

    #header__user h2 {
        margin: 10px;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: white;
    }



    #header__main {
        background-color: red;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        display: flex;
        width: 100vw;
        height: 5vh;
    }



    #table__container {
        width: 100vw;
        height: 40vh;
        display: flex;
        justify-content: center;
        padding: 10px;
    }



    #table__container table {
        padding: 10px;
        width: 60%;
        margin: 10px;
        border: 1px solid rgba(161, 161, 161, 1);
    }



    #table__container table th {
        height: 10px;
        color: rgba(161, 161, 161, 1);
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        text-align: justify;
        padding: 5px;
        border-bottom: 1px solid rgba(161, 161, 161, 1);
    }

    #table__container table td {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        border-bottom: 1px solid rgba(161, 161, 161, 1);
        padding: 5px;
    }
    
}